:root {
    --green-color: #5eadb3;
    --green-dark-color: #2e5a5d;
    --green-dark-color-bg: #2e5a5da7;
    --navbar: #162627;
    --art: #1626277a;
}

body {
    color: white;
    margin: 0 auto;
    font-family: fantasy;
}

* {
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button,
.network img {
    cursor: pointer;
}

/* navigation */
.logo img {
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
}

.search-bar img {
    width: 15px;
    height: 15px;
}

h1 {
    font-style: italic;
    font-weight: 500;
}

nav {
    background-color: var(--navbar);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* overflow: hidden; */
}

nav ul {
    display: flex;
    margin-right: 5px;
    gap: 1em;
}

nav ul li a {
    color: white;
}

nav ul li a:hover {
    color: var(--green-color);
}

.btn-green {
    background-color: var(--green-color);
    color: white;
    border-radius: 5px;
    padding: 10px;
    border: none;
}

.btn-green:hover {
    background-color: var(--navbar);
}

/* searchbar */
.search-bar {
    padding: 10px;
    border-radius: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    gap: 10px;
    margin-right: 10px;
}

/* #conditionInput {
    border: none;
    color: var(--green-color);
    outline: none;
} */
#destination{
 border: none;
    color: var(--green-color);
    outline: none;
}
/* home resultat country*/
.right.researchResult {
    width: 50%;
}

#result article {
    background-color: #8080807a;
    padding: 10px;
    margin-bottom: 20px;
}

#result article h3 {
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* main */
/* modele */
/* 2 parties  */

.container {
    width: 100%;
    min-height: calc(100vh - 80px);
    padding: 20px;
    display: flex;
    gap: 25px;
    background:
        linear-gradient(to right, var(--green-dark-color), rgba(64, 224, 208, 0) 70%),
        url("./images/home.png") center/cover no-repeat;
}

.container.a-us {
    background:
        linear-gradient(to right, var(--green-dark-color-bg) 70%, rgba(64, 224, 208, 0) 100%),
        url("./images/home.png") center/cover no-repeat;

}

.container h2 {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 500;
}

.content.main-page {
    display: flex;
    justify-content: space-between;

}

.content.main-page .left {
    width: 50%;
    display: flex;
    margin-top: 50px;
    gap: 20px;
    flex-direction: column;
}

.content p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content button {
    width: fit-content;
}

/* mainpage */
.bar {
    border: 1px solid white;
    width: 1px;
    height: 39%;
    color: white;
}

.net {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.network {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.network img {
    width: 25px;
    height: 25px;
}

.container .btn-green {
    text-transform: uppercase;
    font-weight: 900;
}



/* about-us, contact-us */

.about-us,
.contact-us {
    flex-direction: column;
}

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.about-us h2 {
    text-transform: uppercase;
    font-family: fantasy;
}

.contact-block {
    display: flex;
    gap: 20px;
}

.about-us article {
    font-size: 16px;
    background-color: var(--art);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.about-us article button {
    width: 100%;
}

.about-us article img {
    width: 25px;
    height: 25px;
}

.about-us .contact {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.about-us .contact h3 {
    font-size: 24px;
    font-family: fantasy;
    text-transform: uppercase;
}

.ct {
    display: flex;
    align-items: center
}

/* contact-us */
.contact-us {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-us .right {
    width: 50%;
}

form {
    background-color: var(--art);
    padding: 20px;
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    margin-bottom: 5px;
}

.no-result{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: var(--green-dark-color-bg)
}

